@font-face {font-family: "iconfont";
    src: url('./font_1288108_v7f3xl3y6uIE9.eot'); /* IE9 */
    src: url('./font_1288108_v7f3xl3y6uIE6-IE8.eot') format('embedded-opentype'), /* IE6-IE8 */
    url('./download.woff2') format('woff2'),
    url('./font_1288108_v7f3xl3y6u.woff') format('woff'),
    url('./font_1288108_v7f3xl3y6u.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('./font_1288108_v7f3xl3y6u.svg') format('svg'); /* iOS 4.1- */
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .iconangular:before {
    content: "\e601";
  }
  
  .iconhtml:before {
    content: "\e602";
  }
  
  .iconchange:before {
    content: "\e603";
  }
  
  .iconjs:before {
    content: "\e604";
  }
  
  .iconvuejs-alt:before {
    content: "\e605";
  }
  
  .iconqq:before {
    content: "\e606";
  }
  
  .iconweixin:before {
    content: "\e607";
  }
  
  .iconreact:before {
    content: "\e608";
  }
  
  .iconcss:before {
    content: "\e609";
  }
  
  .iconemailFilled:before {
    content: "\e60a";
  }
  